<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Busca de imóvel</title>
    <base href="/">
    <!-- Style CSS -->
    <link rel="stylesheet" type='text/css' href="styles.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">


</head>

<body>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="h-100 d-md-flex justify-content-between align-items-center">
                <div class="email-address">
                    <a href="mailto:contato@meuemail.com">contato@meuemail.com</a>
                </div>
                <div class="phone-number d-flex">
                    <div class="icon">
                        <img src="/assets/img/icons/phone-call.png" alt="">
                    </div>
                    <div class="number">
                        <a href="https://api.whatsapp.com/send?phone=5513991122174&text=Olá amigo, encontrei seu contato através de seu site!"
                            target="_blank">(13) 9-99111-1111</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Header Area -->
        <div class="main-header-area" id="stickyHeader">
            <div class="classy-nav-container breakpoint-off">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="southNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="index.html"><img src="/assets/img/core-img/nacao-logo-2.png" width="120" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/catalogo">Catálogo</a></li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img" style="background-image: url(/assets/img/bg-img/hero1.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">Encontre o imóvel ideal</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->


    <!-- ##### Listing Content Wrapper Area Start ##### -->
    <section class="listings-content-wrapper section-padding-100">
        <div class="container">
            {{#if imoveis}}
            <div class="row">
                {{#each imoveis}}
                <!-- Single Featured Property -->
                <div class="col-12 col-md-6 col-xl-4 card-imovel">
                    <a href="/imovel/{{id}}">
                        <div class="single-featured-property mb-50 wow fadeInUp" data-wow-delay="200ms">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="/assets/img/bg-img/casa_corretor.jpg" alt="">

                                <div class="tag">
                                    <span>{{this.locacao}}</span>
                                </div>
                                <div class="list-price">
                                    <p>R$ {{this.valor}}</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>{{this.titulo}}</h5>
                                <p class="location"><img src="/assets/img/icons/location.png" alt="">{{this.localidade}}</p>
                                <p>{{{truncate "30" this.descricao}}}</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="bathroom">
                                        <img src="/assets/img/icons/bathtub.png" alt="">
                                        <span>{{this.banheiros}}</span>
                                    </div>
                                    <div class="garage">
                                        <img src="/assets/img/icons/garage.png" alt="">
                                        <span>{{this.garagens}}</span>
                                    </div>
                                    <div class="space">
                                        <img src="/assets/img/icons/space.png" alt="">
                                        <span>{{this.dimensoes}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {{/each}}
            </div>
            {{else}}
            <div class="section-heading wow fadeInUp">
                <h2>Nenhum imóvel com estes termos</h2>
                <p><a href="/catalogo">Clique aqui para para ver o catálogo completo</a></p>
            </div>
            {{/if}}
    </section>
    <!-- ##### Listing Content Wrapper Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area" style="background-image: url(/assets/img/bg-img/cta.jpg);">
        <!-- Main Footer Area -->

        <!-- Copywrite Text -->
        <div class="copywrite-text d-flex align-items-center justify-content-center">

        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->
</body>

<style>
    .card-imovel {
        cursor: pointer
    }
</style>

<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="/assets/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/assets/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/classy-nav.min.js"></script>
<!-- Active js -->
<script src="/assets/js/active.js"></script>
<script src="/assets/js/main.js"></script>

</html>